<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="0.0.0.6" id="verold-falling-in-circles">
 
  <author href="http://verold.com"
          rim:copyright="Copyright 2013 Verold Inc">Verold.com</author>

  <name>Falling in Circles</name>
 
  <description>
    Simulation of 260,000 Trojan asteroids using WebGL. Powered by Verold.com.
  </description>
 
  <icon src="icons/verold-logo150.png"/>
 
  <rim:splash src="icons/splash-1280x768.png"/>
 
  <content src="index.html"/>
 
  <feature id="blackberry.app">
    <param name="backgroundColor" value="0xFFFF0000" />
    <param name="websecurity" value="disable" />
  </feature>
  
</widget>